/* Global */
body {
    font-family: 'Lato', helvetica, sans-serif;
    margin: 0;
    color: #525252;
    padding: 60px 0
}

.title {
    border-bottom: 1px solid #ebebeb
}

a {
    color: #e74430;
    text-decoration: none;
}

h1 {
    color: #e74430;
    font-size: 30px;
    margin: 0 0 20px;
}

h3 {
    font-size: 22px;
    margin: 0 0 20px;
}

.container {
    max-width: 1300px;
    padding: 20px;
    margin: 0 auto;
}

.slider, .slider-thmbs {
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.slider img, .slider-thmbs img {
    width: 100%;
    height: auto;
    display: block;
}

.faux {
    display: block;
    background: #fafafa;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
}

.surge-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

.pager > a {
    border-radius: 50%;
    background: 0 0;
    border: 2px solid red;
    text-indent: -9999px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    outline: 0;
}

img.zoom-img {
    transition: all .3s;
}

.pager.active {
    background: red;
}

.my-slider {
    max-width: 300px;
    margin: 40px auto;
}

.surge-wrapper {
    position: relative;
}

.slider-thmbs > li:before {
    content: "";
    width: 0;
    height: 5px;
    background: red;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    transition: width .3s ease-in-out;
}

.slider-thmbs > li.active:before {
    width: 100%;
}
/* Media Queries */
@media all and (max-width: 940px){
    .item {
        width: 340px;
    }
    .item .block {
        height: 230px;
    }
}

@media all and (max-width: 768px){
    .item {
        width: 100%;
        padding: 0;
    }
    .infinity-row {
        margin-left: -20px;
        margin-right: -20px;
    }
}
